select{
  border: none;
  border-radius: 0;
  background: 0 0;
  border-bottom: 1px solid white;
  color: gray;
  margin-bottom: 7px;
  padding-left: .5rem;
  height: 2rem;
  font-size: 1rem;
  font-family: 'Roboto';
  width: 100%;
  }
  textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1rem;
    font-family: inherit;
    padding: .5rem;
    margin-top: 1rem;
  }
  .register-report{
    min-height: 80vh;
  }
  .button{
      padding: 1rem 2rem;
      background: transparent;
      font-weight: 100;
      font-size: 2rem;
      text-align: center;
      width: 100%;
      font-family: 'Roboto';
      color: #fff;
      border: none;
      box-shadow: none;
  }
  
