.notfound-page {
  background: url('/assets/images/alien.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
}